In [1]:
import pandas as pd

In [2]:
neuro = pd.read_csv('neuro.csv')

In [3]:
neuro.head(5)

,Unnamed: 0,CID,MenteeID,MentorID,MentorshipType,Institution,InstitutionMAGID,StartYear,StopYear
0,0,2,2,3,1,"University of California, Berkeley",95457486.0,2000,2005
1,1,3,4,3,2,"University of California, Berkeley",95457486.0,2003,2006
2,2,5,6,3,1,"University of California, Berkeley",95457486.0,2002,2008
3,3,6,18761,9,1,"University of California, Berkeley",95457486.0,-1,1984
4,4,7,10,16,2,"Washington University, Saint Louis",204465549.0,-1,-1

In [4]:
pid_mag_openalex = pd.read_csv('pid_mag_openalex.csv')

In [5]:
pid_mag_openalex.head(5)

   PID   MAGAuthorID    author_id
0    1  2.171828e+09  A2171827615
1    2  2.082173e+09  A2082172561
2    3  2.110166e+09  A2110165986
3    4  2.183264e+09  A2183263527
4    5  2.156587e+09  A2156586888

### how many can be matched in openAlex

In [6]:
MenteeID = list(set(neuro['MenteeID']))
print(len(MenteeID))
mentee_id = pid_mag_openalex[['PID','author_id']][pid_mag_openalex.PID.isin(MenteeID)]
mentee_id.shape

119948

(86595, 2)

In [7]:
MentorID = list(set(neuro['MentorID']))
print(len(MentorID))
mentor_id = pid_mag_openalex[['PID','author_id']][pid_mag_openalex.PID.isin(MentorID)]
mentor_id.shape

38905

(33170, 2)

##### target_mentor

In [8]:
target_author = pd.read_csv('target_author.csv')
target_author.head(5)

  author_id  MAGAuthorID  AFTMentorID  FirstMenteeYear
0   A367921       367921         2488             2000
1   A980010       980010        12407             1991
2  A1121383      1121383        11355             2009
3  A1378751      1378751        18791             1999
4  A2229241      2229241        27837             2006

In [9]:
target_mentor = list(set(target_author['author_id']))
print(len(target_mentor))
target_MentorID = list(set(target_author['AFTMentorID'].drop_duplicates()))
print(len(target_MentorID))
target_MenteeID = list(set(neuro['MenteeID'][neuro.MentorID.isin(target_MentorID)].drop_duplicates()))
print(len(target_MenteeID))
target_mentee = list(pid_mag_openalex['author_id'][pid_mag_openalex.PID.isin(target_MenteeID)].drop_duplicates())
print(len(target_mentee))

24756
24824
101036
73895

In [10]:
73895/101036

0.7313729759689616

##### Remark

1. Why miss 10k mentors in target authors?

Answer1: filter out the authors whos mentee without 'StopYear'

2. retainning ratio of target mentees: 73895/101036 = 73%

### How many can be found by clauset's method

In [21]:
# groupinfo = pd.read_csv('group_info_OnlyLastAuthorPaper(current_scientific_age1213).csv')  #(current_scientific_age)
# groupinfo['current_scientific_age'] = groupinfo['current_year'] - groupinfo['first_pub_year']

inpath_tp = '/Users/yanmemgxing/Nutstore Files/scientific group/neuro/survival/'
groupinfo = pd.read_csv(inpath_tp + 'groupinfo(G1 mentor).csv')
groupinfo = groupinfo[groupinfo.mentor_scientific_age>10]

In [22]:
groupinfo.head(5)

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,scientific_age,group_size,mentor_id,current_year,ratio_institution,current_scientific_age,last_pub_year,mentor_first_pub_year,mentor_scientific_age,mentor_current_scientific_age,end_year,career_len,average_group_size
158,W2004904133,middle,A2141457909,I201448701,2013,2010,3,19,A2210051518,2013,0.912409,3,2016.0,2002,11,11,2013.0,6.0,18.0
159,W2004904133,first,A1022665526,I201448701,2013,2006,7,19,A2210051518,2013,0.912409,7,2022.0,2002,11,11,2008.0,16.0,30.0
160,W2014170752,first,A2397012002,I201448701,2013,2006,7,19,A2210051518,2013,0.912409,7,2018.0,2002,11,11,NaN,NaN,NaN
161,W2014170752,middle,A2237709530,I201448701,2013,2007,6,19,A2210051518,2013,0.912409,6,2021.0,2002,11,11,NaN,NaN,NaN
162,W2127741880,first,A2141457909,I201448701,2013,2010,3,19,A2210051518,2013,0.912409,3,2016.0,2002,11,11,2013.0,6.0,18.0

In [23]:
OA_mentor = list(set(groupinfo['mentor_id']))
print(len(OA_mentor))
OA_mentee = list(set(groupinfo['author_id']))
print(len(OA_mentee))

20478
546102

In [24]:
target_author.head(5)

  author_id  MAGAuthorID  AFTMentorID  FirstMenteeYear
0   A367921       367921         2488             2000
1   A980010       980010        12407             1991
2  A1121383      1121383        11355             2009
3  A1378751      1378751        18791             1999
4  A2229241      2229241        27837             2006

In [25]:
pid_mag_openalex.head(5)

   PID   MAGAuthorID    author_id
0    1  2.171828e+09  A2171827615
1    2  2.082173e+09  A2082172561
2    3  2.110166e+09  A2110165986
3    4  2.183264e+09  A2183263527
4    5  2.156587e+09  A2156586888

### key output

In [26]:
OA_MentorID = list(set(target_author['AFTMentorID'][target_author.author_id.isin(OA_mentor)].drop_duplicates()))
print('target_mentor:',len(OA_MentorID))
OA_MenteeID = list(set(neuro['MenteeID'][neuro.MentorID.isin(OA_MentorID)].drop_duplicates()))
print('AFT mentee of target_mentor:',len(OA_MenteeID))

OA_MenteeID_MentorID = neuro[['MenteeID','MentorID']][neuro.MentorID.isin(OA_MentorID)].drop_duplicates()
#AFT 中可以匹配上的所有 mentee
matched_OA_mentee = list(set(pid_mag_openalex['author_id'][pid_mag_openalex['PID'].isin(OA_MenteeID)]))
print('matched AFT mentee of target_mentor:',len(matched_OA_mentee))

found_mentee = list(set(matched_OA_mentee).intersection(set(OA_mentee)))
print('found matched AFT mentee of target_mentor:',len(found_mentee))

found_ratio = len(found_mentee)/len(matched_OA_mentee)
print('found_ratio:',found_ratio)

target_mentor: 20546
AFT mentee of target_mentor: 88347
matched AFT mentee of target_mentor: 69206
found matched AFT mentee of target_mentor: 47368
found_ratio: 0.684449325203017

### Further validation

In [25]:
pid_oa = pid_mag_openalex[['PID','author_id']].rename(columns={'PID':'MenteeID'})
OA_MenteeID_MentorID = OA_MenteeID_MentorID.merge(pid_oa,on='MenteeID',how='left')

pid_oa = pid_oa.rename(columns={'MenteeID':'MentorID','author_id':'mentor_id'})
OA_MenteeID_MentorID = OA_MenteeID_MentorID.merge(pid_oa,on='MentorID',how='left')

In [26]:
OA_MenteeID_MentorID.head(5)

   MenteeID  MentorID    author_id    mentor_id
0         2         3  A2082172561  A2110165986
1         4         3  A2183263527  A2110165986
2         6         3  A2607431256  A2110165986
3     18761         9  A2809701389  A2952981685
4        10        16          NaN  A2025321686

In [27]:
matched_OA_mentor = OA_MenteeID_MentorID['mentor_id'][~OA_MenteeID_MentorID.mentor_id.isnull()].drop_duplicates()
print(len(matched_OA_mentor))

matched_OA_mentee = OA_MenteeID_MentorID['author_id'][~OA_MenteeID_MentorID.author_id.isnull()].drop_duplicates()
print(len(matched_OA_mentee))

21548
70481

In [28]:
found_mentee_df = pd.DataFrame(found_mentee,columns=['found_author_id'])
found_mentee_df['author_id'] = found_mentee_df['found_author_id']

In [29]:
OA_MenteeID_MentorID = OA_MenteeID_MentorID.merge(found_mentee_df,on='author_id',how='left')

In [30]:
OA_MenteeID_MentorID = OA_MenteeID_MentorID.rename(columns={'author_id':'matched_author_id'})

In [31]:
OA_MenteeID_MentorID.head(5)

   MenteeID  MentorID matched_author_id    mentor_id found_author_id
0         2         3       A2082172561  A2110165986     A2082172561
1         4         3       A2183263527  A2110165986             NaN
2         6         3       A2607431256  A2110165986             NaN
3     18761         9       A2809701389  A2952981685     A2809701389
4        10        16               NaN  A2025321686             NaN

In [32]:
print(len(OA_MenteeID_MentorID[~OA_MenteeID_MentorID['matched_author_id'].isnull()]))

100155

#### What is the stiuation of the mentees who can not be found

In [34]:
missed_mentee_mentor = OA_MenteeID_MentorID[['matched_author_id','mentor_id']][(OA_MenteeID_MentorID['found_author_id'].isnull())
                                                                              &(~OA_MenteeID_MentorID['matched_author_id'].isnull())]

In [35]:
missed_mentee_mentor = missed_mentee_mentor.drop_duplicates()
print(len(missed_mentee_mentor))

32047

In [36]:
(100155-32047)/100155

0.6800259597623683

In [37]:
missed_mentee_mentor.head(5)

  matched_author_id    mentor_id
1       A2183263527  A2110165986
2       A2607431256  A2110165986
5       A2110165986  A2025321686
6       A2110165986  A2568618016
7       A2183534167  A2142342593

In [38]:
missed_mentee = list(set(missed_mentee_mentor['matched_author_id']))
print(len(missed_mentee))

26131

### find missed_mentee info

In [106]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}:{port}/{db}?charset=utf8mb4"
                       .format(user="openalex_ym",
                               pw="openalex.ym",
                               host="172.18.18.167",
                               port=3306,
                               db="openalex2022"),
                       )

In [107]:
auid = missed_mentee
author_groups = []
interval = 5000
start_point = 0
while True:
    end_point = start_point + interval
    try:
        temp = auid[start_point:end_point]
        author_groups.append(temp)
    except:
        temp = auid[start_point:]
        author_groups.append(temp)
        
    start_point = end_point
    if end_point>len(auid):
        break

In [108]:
l = len(author_groups)
for i in range(l):
    temp =  author_groups[i]
    sql_query = """select works_authorships.author_id, works_authorships.work_id

                    from works_authorships 

                    where works_authorships.author_id in {}
                    """.format(tuple(temp))


    data = pd.read_sql(sql_query, con=engine)
    # merge data
    if i==0:
        tp = data
    else:
        tp = pd.concat((tp,data))

data = tp

In [109]:
data.shape

(1580017, 2)

#### Find full authorships of the missed_mentees' papers

In [110]:
paper = list(set(data.work_id))
print(len(paper))

1382215

In [111]:
paper_groups = []
interval = 5000
start_point = 0
while True:
    end_point = start_point + interval
    try:
        temp = paper[start_point:end_point]
        paper_groups.append(temp)
    except:
        temp = paper[start_point:]
        paper_groups.append(temp)
        
    start_point = end_point
    if end_point>len(paper):
        break
len(paper_groups)

277

In [112]:
l = len(paper_groups)
for i in range(l):
    temp =  paper_groups[i]
    sql_query = """select *

                    from works_authorships 

                    where works_authorships.work_id in {}
                    """.format(tuple(temp))


    data = pd.read_sql(sql_query, con=engine)
    # merge data
    if i==0:
        tp = data
    else:
        tp = pd.concat((tp,data))
    print(i)

Data = tp

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276

In [115]:
Data.head(5)

       work_id author_position    author_id institution_id
0  W1010545750           first  A2138842485     I130238516
1  W1010545750          middle  A2168876222     I130238516
2  W1010545750            last  A2303520960     I130238516
3  W1021960706           first  A1909053602      I95457486
4  W1021960706          middle  A1845317103      I95457486

In [114]:
inst_ids = list(Data.institution_id)
inst_ids1 = [k.replace('\r', '') for k in inst_ids]
Data['institution_id'] = inst_ids1

In [117]:
Data.shape

(8102806, 4)

#### find year

In [119]:
l = len(paper_groups)
print(l)
for i in range(l):
    temp =  paper_groups[i]
    sql_query = """select works.id, works.publication_year

                    from works 

                    where works.id in {}
                    """.format(tuple(temp))


    data = pd.read_sql(sql_query, con=engine)
    # merge data
    if i==0:
        tp = data
    else:
        tp = pd.concat((tp,data))
    print(i)

Data_year = tp

277
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276

In [121]:
Data_year = Data_year.rename(columns={'id':'work_id'})

In [122]:
Data_year.head(5)

       work_id  publication_year
0  W1010545750              1984
1  W1021960706              2014
2  W1023185005              2007
3  W1023195712              2006
4  W1024556965              1986

In [123]:
Data = Data.merge(Data_year,on='work_id',how='left')

In [124]:
Data.head(5)

       work_id author_position    author_id institution_id  publication_year
0  W1010545750           first  A2138842485     I130238516              1984
1  W1010545750          middle  A2168876222     I130238516              1984
2  W1010545750            last  A2303520960     I130238516              1984
3  W1021960706           first  A1909053602      I95457486              2014
4  W1021960706          middle  A1845317103      I95457486              2014

In [131]:
# Data = pd.read_csv('missed_mentee_authorship.csv')

In [137]:
Data.head(5)

,Unnamed: 0,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,last_pub_year,career_len
0,0,W1010545750,first,A2138842485,I130238516,1984,1959,1995,36
1,1,W1010545750,middle,A2168876222,I130238516,1984,1963,2017,54
2,2,W1010545750,last,A2303520960,I130238516,1984,1980,1989,9
3,3,W1021960706,first,A1909053602,I95457486,2014,2010,2021,11
4,4,W1021960706,middle,A1845317103,I95457486,2014,2010,2015,5

In [133]:
author_year = Data[['author_id','publication_year']].drop_duplicates()

In [134]:
idx = author_year.groupby(['author_id'])['publication_year'].transform(min) == author_year['publication_year'] #choose the minimum publication_year 
first_pub_year = author_year[idx]
idx = author_year.groupby(['author_id'])['publication_year'].transform(max) == author_year['publication_year'] #choose the mamum publication_year 
last_pub_year = author_year[idx]

first_pub_year = first_pub_year.merge(last_pub_year,on='author_id',how='left')
first_pub_year = first_pub_year.rename(columns={'publication_year_x':'first_pub_year','publication_year_y':'last_pub_year'})
first_pub_year['career_len'] = first_pub_year.last_pub_year - first_pub_year.first_pub_year

In [135]:
first_pub_year.head(5)

     author_id  first_pub_year  last_pub_year  career_len
0  A1868687523            2014           2017           3
1  A2487503378            2014           2014           0
2  A2062660350            2007           2009           2
3  A2667882660            2006           2006           0
4  A2123135904            2006           2020          14

In [136]:
Data = Data.merge(first_pub_year,on='author_id',how='left')

In [139]:
Data.head(5)

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,last_pub_year,career_len
0,W1010545750,first,A2138842485,I130238516,1984,1959,1995,36
1,W1010545750,middle,A2168876222,I130238516,1984,1963,2017,54
2,W1010545750,last,A2303520960,I130238516,1984,1980,1989,9
3,W1021960706,first,A1909053602,I95457486,2014,2010,2021,11
4,W1021960706,middle,A1845317103,I95457486,2014,2010,2015,5

In [140]:
# Data.to_csv('missed_mentee_authorship.csv',index=0)

In [2]:
groupinfo = pd.read_csv('group_info_OnlyLastAuthorPaper.csv')  #(current_scientific_age)
groupinfo['current_scientific_age'] = groupinfo['current_year'] - groupinfo['first_pub_year']

In [41]:
missed_mentee_authorship = pd.read_csv('missed_mentee_authorship.csv')

In [42]:
missed_mentee_authorship.head(5)

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,last_pub_year,career_len
0,W1010545750,first,A2138842485,I130238516,1984,1959,1995,36
1,W1010545750,middle,A2168876222,I130238516,1984,1963,2017,54
2,W1010545750,last,A2303520960,I130238516,1984,1980,1989,9
3,W1021960706,first,A1909053602,I95457486,2014,2010,2021,11
4,W1021960706,middle,A1845317103,I95457486,2014,2010,2015,5

In [65]:
missed_mentee_authorship['current_scitific_age'] = missed_mentee_authorship['publication_year'] - missed_mentee_authorship['first_pub_year']

In [33]:
OA_MenteeID_MentorID.head(5)

   MenteeID  MentorID matched_author_id    mentor_id found_author_id
0         2         3       A2082172561  A2110165986     A2082172561
1         4         3       A2183263527  A2110165986             NaN
2         6         3       A2607431256  A2110165986             NaN
3     18761         9       A2809701389  A2952981685     A2809701389
4        10        16               NaN  A2025321686             NaN

In [40]:
missed_mentee_mentor.head(5)

  matched_author_id    mentor_id
1       A2183263527  A2110165986
2       A2607431256  A2110165986
5       A2110165986  A2025321686
6       A2110165986  A2568618016
7       A2183534167  A2142342593

In [43]:
len(missed_mentee_mentor)

32047

In [66]:
missed_values = missed_mentee_mentor.values

In [67]:
missed_values[:5]

array([['A2183263527', 'A2110165986'],
       ['A2607431256', 'A2110165986'],
       ['A2110165986', 'A2025321686'],
       ['A2110165986', 'A2568618016'],
       ['A2183534167', 'A2142342593']], dtype=object)

In [279]:
new_found = []
for i in range(len(missed_values)):
    mte_i = missed_values[i][0]
    mto_i = missed_values[i][1]
    work_mte_i = list(missed_mentee_authorship['work_id'][missed_mentee_authorship.author_id==mte_i])
    auship_mte_i = missed_mentee_authorship[missed_mentee_authorship.work_id.isin(work_mte_i)]
    colla_work = list(auship_mte_i['work_id'][auship_mte_i.author_id==mto_i])
    if len(colla_work)>0:
        work_last_author = list(auship_mte_i['work_id'][(auship_mte_i.work_id.isin(colla_work))&(auship_mte_i.author_id==mto_i)
                                               &(auship_mte_i.author_position=='last')
                                                   &(~auship_mte_i.institution_id.isnull())])
        
        can_be_found = auship_mte_i[(auship_mte_i.work_id.isin(work_last_author))&(auship_mte_i.author_id==mte_i)&
                (~auship_mte_i.institution_id.isnull())&(auship_mte_i.current_scitific_age<=10)]
        if len(can_be_found)>0:
            new_found.append([mte_i,mto_i])
        else:
            new_found = new_found
    else:
        new_found = new_found
    
    if i%10==0:
        print(i)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330
1340
1350
1360
1370
1380
1390
1400
1410
1420
1430
1440
1450
1460
1470
1480
1490
1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250
2260
2270
2280
2290
2300
2310
2320
2330
2340
2350
2360
2370
2380
2390
2400
2410
2420
2430
2440
2450
2460
2470
2480
2490
2500
2510
2520
2530
2540
2550
2560
2570
2580
2590
2600
2610
2620
2630
2640
2650
2660
2670
2680
2690
2700
2710
2720
2730
2740
2750
2760
2770
2780
2790
2800
2810
2820
2830
2840
2850
2860
2870
2880
2890
2900
2910
2920
2930
2940
2950
2960
2970
2980
2990
3000
3010
3020
3030
3040
3050
3060
3070
3080
3090
3100
3110
3120
3130
3140
3150
3160
3170
3180
3190
3200
3210
3220
3230
3240
3250
3260
3270
3280
3290
3300
3310
3320
3330
3340
3350
3360
3370
3380
3390
3400
3410
3420
3430
3440
3450
3460
3470
3480
3490
3500
3510
3520
3530
3540
3550
3560
3570
3580
3590
3600
3610
3620
3630
3640
3650
3660
3670
3680
3690
3700
3710
3720
3730
3740
3750
3760
3770
3780
3790
3800
3810
3820
3830
3840
3850
3860
3870
3880
3890
3900
3910
3920
3930
3940
3950
3960
3970
3980
3990
4000
4010
4020
4030
4040
4050
4060
4070
4080
4090
4100
4110
4120
4130
4140
4150
4160
4170
4180
4190
4200
4210
4220
4230
4240
4250
4260
4270
4280
4290
4300
4310
4320
4330
4340
4350
4360
4370
4380
4390
4400
4410
4420
4430
4440
4450
4460
4470
4480
4490
4500
4510
4520
4530
4540
4550
4560
4570
4580
4590
4600
4610
4620
4630
4640
4650
4660
4670
4680
4690
4700
4710
4720
4730
4740
4750
4760
4770
4780
4790
4800
4810
4820
4830
4840
4850
4860
4870
4880
4890
4900
4910
4920
4930
4940
4950
4960
4970
4980
4990
5000
5010
5020
5030
5040
5050
5060
5070
5080
5090
5100
5110
5120
5130
5140
5150
5160
5170
5180
5190
5200
5210
5220
5230
5240
5250
5260
5270
5280
5290
5300
5310
5320
5330
5340
5350
5360
5370
5380
5390
5400
5410
5420
5430
5440
5450
5460
5470
5480
5490
5500
5510
5520
5530
5540
5550
5560
5570
5580
5590
5600
5610
5620
5630
5640
5650
5660
5670
5680
5690
5700
5710
5720
5730
5740
5750
5760
5770
5780
5790
5800
5810
5820
5830
5840
5850
5860
5870
5880
5890
5900
5910
5920
5930
5940
5950
5960
5970
5980
5990
6000
6010
6020
6030
6040
6050
6060
6070
6080
6090
6100
6110
6120
6130
6140
6150
6160
6170
6180
6190
6200
6210
6220
6230
6240
6250
6260
6270
6280
6290
6300
6310
6320
6330
6340
6350
6360
6370
6380
6390
6400
6410
6420
6430
6440
6450
6460
6470
6480
6490
6500
6510
6520
6530
6540
6550
6560
6570
6580
6590
6600
6610
6620
6630
6640
6650
6660
6670
6680
6690
6700
6710
6720
6730
6740
6750
6760
6770
6780
6790
6800
6810
6820
6830
6840
6850
6860
6870
6880
6890
6900
6910
6920
6930
6940
6950
6960
6970
6980
6990
7000
7010
7020
7030
7040
7050
7060
7070
7080
7090
7100
7110
7120
7130
7140
7150
7160
7170
7180
7190
7200
7210
7220
7230
7240
7250
7260
7270
7280
7290
7300
7310
7320
7330
7340
7350
7360
7370
7380
7390
7400
7410
7420
7430
7440
7450
7460
7470
7480
7490
7500
7510
7520
7530
7540
7550
7560
7570
7580
7590
7600
7610
7620
7630
7640
7650
7660
7670
7680
7690
7700
7710
7720
7730
7740
7750
7760
7770
7780
7790
7800
7810
7820
7830
7840
7850
7860
7870
7880
7890
7900
7910
7920
7930
7940
7950
7960
7970
7980
7990
8000
8010
8020
8030
8040
8050
8060
8070
8080
8090
8100
8110
8120
8130
8140
8150
8160
8170
8180
8190
8200
8210
8220
8230
8240
8250
8260
8270
8280
8290
8300
8310
8320
8330
8340
8350
8360
8370
8380
8390
8400
8410
8420
8430
8440
8450
8460
8470
8480
8490
8500
8510
8520
8530
8540
8550
8560
8570
8580
8590
8600
8610
8620
8630
8640
8650
8660
8670
8680
8690
8700
8710
8720
8730
8740
8750
8760
8770
8780
8790
8800
8810
8820
8830
8840
8850
8860
8870
8880
8890
8900
8910
8920
8930
8940
8950
8960
8970
8980
8990
9000
9010
9020
9030
9040
9050
9060
9070
9080
9090
9100
9110
9120
9130
9140
9150
9160
9170
9180
9190
9200
9210
9220
9230
9240
9250
9260
9270
9280
9290
9300
9310
9320
9330
9340
9350
9360
9370
9380
9390
9400
9410
9420
9430
9440
9450
9460
9470
9480
9490
9500
9510
9520
9530
9540
9550
9560
9570
9580
9590
9600
9610
9620
9630
9640
9650
9660
9670
9680
9690
9700
9710
9720
9730
9740
9750
9760
9770
9780
9790
9800
9810
9820
9830
9840
9850
9860
9870
9880
9890
9900
9910
9920
9930
9940
9950
9960
9970
9980
9990
10000
10010
10020
10030
10040
10050
10060
10070
10080
10090
10100
10110
10120
10130
10140
10150
10160
10170
10180
10190
10200
10210
10220
10230
10240
10250
10260
10270
10280
10290
10300
10310
10320
10330
10340
10350
10360
10370
10380
10390
10400
10410
10420
10430
10440
10450
10460
10470
10480
10490
10500
10510
10520
10530
10540
10550
10560
10570
10580
10590
10600
10610
10620
10630
10640
10650
10660
10670
10680
10690
10700
10710
10720
10730
10740
10750
10760
10770
10780
10790
10800
10810
10820
10830
10840
10850
10860
10870
10880
10890
10900
10910
10920
10930
10940
10950
10960
10970
10980
10990
11000
11010
11020
11030
11040
11050
11060
11070
11080
11090
11100
11110
11120
11130
11140
11150
11160
11170
11180
11190
11200
11210
11220
11230
11240
11250
11260
11270
11280
11290
11300
11310
11320
11330
11340
11350
11360
11370
11380
11390
11400
11410
11420
11430
11440
11450
11460
11470
11480
11490
11500
11510
11520
11530
11540
11550
11560
11570
11580
11590
11600
11610
11620
11630
11640
11650
11660
11670
11680
11690
11700
11710
11720
11730
11740
11750
11760
11770
11780
11790
11800
11810
11820
11830
11840
11850
11860
11870
11880
11890
11900
11910
11920
11930
11940
11950
11960
11970
11980
11990
12000
12010
12020
12030
12040
12050
12060
12070
12080
12090
12100
12110
12120
12130
12140
12150
12160
12170
12180
12190
12200
12210
12220
12230
12240
12250
12260
12270
12280
12290
12300
12310
12320
12330
12340
12350
12360
12370
12380
12390
12400
12410
12420
12430
12440
12450
12460
12470
12480
12490
12500
12510
12520
12530
12540
12550
12560
12570
12580
12590
12600
12610
12620
12630
12640
12650
12660
12670
12680
12690
12700
12710
12720
12730
12740
12750
12760
12770
12780
12790
12800
12810
12820
12830
12840
12850
12860
12870
12880
12890
12900
12910
12920
12930
12940
12950
12960
12970
12980
12990
13000
13010
13020
13030
13040
13050
13060
13070
13080
13090
13100
13110
13120
13130
13140
13150
13160
13170
13180
13190
13200
13210
13220
13230
13240
13250
13260
13270
13280
13290
13300
13310
13320
13330
13340
13350
13360
13370
13380
13390
13400
13410
13420
13430
13440
13450
13460
13470
13480
13490
13500
13510
13520
13530
13540
13550
13560
13570
13580
13590
13600
13610
13620
13630
13640
13650
13660
13670
13680
13690
13700
13710
13720
13730
13740
13750
13760
13770
13780
13790
13800
13810
13820
13830
13840
13850
13860
13870
13880
13890
13900
13910
13920
13930
13940
13950
13960
13970
13980
13990
14000
14010
14020
14030
14040
14050
14060
14070
14080
14090
14100
14110
14120
14130
14140
14150
14160
14170
14180
14190
14200
14210
14220
14230
14240
14250
14260
14270
14280
14290
14300
14310
14320
14330
14340
14350
14360
14370
14380
14390
14400
14410
14420
14430
14440
14450
14460
14470
14480
14490
14500
14510
14520
14530
14540
14550
14560
14570
14580
14590
14600
14610
14620
14630
14640
14650
14660
14670
14680
14690
14700
14710
14720
14730
14740
14750
14760
14770
14780
14790
14800
14810
14820
14830
14840
14850
14860
14870
14880
14890
14900
14910
14920
14930
14940
14950
14960
14970
14980
14990
15000
15010
15020
15030
15040
15050
15060
15070
15080
15090
15100
15110
15120
15130
15140
15150
15160
15170
15180
15190
15200
15210
15220
15230
15240
15250
15260
15270
15280
15290
15300
15310
15320
15330
15340
15350
15360
15370
15380
15390
15400
15410
15420
15430
15440
15450
15460
15470
15480
15490
15500
15510
15520
15530
15540
15550
15560
15570
15580
15590
15600
15610
15620
15630
15640
15650
15660
15670
15680
15690
15700
15710
15720
15730
15740
15750
15760
15770
15780
15790
15800
15810
15820
15830
15840
15850
15860
15870
15880
15890
15900
15910
15920
15930
15940
15950
15960
15970
15980
15990
16000
16010
16020
16030
16040
16050
16060
16070
16080
16090
16100
16110
16120
16130
16140
16150
16160
16170
16180
16190
16200
16210
16220
16230
16240
16250
16260
16270
16280
16290
16300
16310
16320
16330
16340
16350
16360
16370
16380
16390
16400
16410
16420
16430
16440
16450
16460
16470
16480
16490
16500
16510
16520
16530
16540
16550
16560
16570
16580
16590
16600
16610
16620
16630
16640
16650
16660
16670
16680
16690
16700
16710
16720
16730
16740
16750
16760
16770
16780
16790
16800
16810
16820
16830
16840
16850
16860
16870
16880
16890
16900
16910
16920
16930
16940
16950
16960
16970
16980
16990
17000
17010
17020
17030
17040
17050
17060
17070
17080
17090
17100
17110
17120
17130
17140
17150
17160
17170
17180
17190
17200
17210
17220
17230
17240
17250
17260
17270
17280
17290
17300
17310
17320
17330
17340
17350
17360
17370
17380
17390
17400
17410
17420
17430
17440
17450
17460
17470
17480
17490
17500
17510
17520
17530
17540
17550
17560
17570
17580
17590
17600
17610
17620
17630
17640
17650
17660
17670
17680
17690
17700
17710
17720
17730
17740
17750
17760
17770
17780
17790
17800
17810
17820
17830
17840
17850
17860
17870
17880
17890
17900
17910
17920
17930
17940
17950
17960
17970
17980
17990
18000
18010
18020
18030
18040
18050
18060
18070
18080
18090
18100
18110
18120
18130
18140
18150
18160
18170
18180
18190
18200
18210
18220
18230
18240
18250
18260
18270
18280
18290
18300
18310
18320
18330
18340
18350
18360
18370
18380
18390
18400
18410
18420
18430
18440
18450
18460
18470
18480
18490
18500
18510
18520
18530
18540
18550
18560
18570
18580
18590
18600
18610
18620
18630
18640
18650
18660
18670
18680
18690
18700
18710
18720
18730
18740
18750
18760
18770
18780
18790
18800
18810
18820
18830
18840
18850
18860
18870
18880
18890
18900
18910
18920
18930
18940
18950
18960
18970
18980
18990
19000
19010
19020
19030
19040
19050
19060
19070
19080
19090
19100
19110
19120
19130
19140
19150
19160
19170
19180
19190
19200
19210
19220
19230
19240
19250
19260
19270
19280
19290
19300
19310
19320
19330
19340
19350
19360
19370
19380
19390
19400
19410
19420
19430
19440
19450
19460
19470
19480
19490
19500
19510
19520
19530
19540
19550
19560
19570
19580
19590
19600
19610
19620
19630
19640
19650
19660
19670
19680
19690
19700
19710
19720
19730
19740
19750
19760
19770
19780
19790
19800
19810
19820
19830
19840
19850
19860
19870
19880
19890
19900
19910
19920
19930
19940
19950
19960
19970
19980
19990
20000
20010
20020
20030
20040
20050
20060
20070
20080
20090
20100
20110
20120
20130
20140
20150
20160
20170
20180
20190
20200
20210
20220
20230
20240
20250
20260
20270
20280
20290
20300
20310
20320
20330
20340
20350
20360
20370
20380
20390
20400
20410
20420
20430
20440
20450
20460
20470
20480
20490
20500
20510
20520
20530
20540
20550
20560
20570
20580
20590
20600
20610
20620
20630
20640
20650
20660
20670
20680
20690
20700
20710
20720
20730
20740
20750
20760
20770
20780
20790
20800
20810
20820
20830
20840
20850
20860
20870
20880
20890
20900
20910
20920
20930
20940
20950
20960
20970
20980
20990
21000
21010
21020
21030
21040
21050
21060
21070
21080
21090
21100
21110
21120
21130
21140
21150
21160
21170
21180
21190
21200
21210
21220
21230
21240
21250
21260
21270
21280
21290
21300
21310
21320
21330
21340
21350
21360
21370
21380
21390
21400
21410
21420
21430
21440
21450
21460
21470
21480
21490
21500
21510
21520
21530
21540
21550
21560
21570
21580
21590
21600
21610
21620
21630
21640
21650
21660
21670
21680
21690
21700
21710
21720
21730
21740
21750
21760
21770
21780
21790
21800
21810
21820
21830
21840
21850
21860
21870
21880
21890
21900
21910
21920
21930
21940
21950
21960
21970
21980
21990
22000
22010
22020
22030
22040
22050
22060
22070
22080
22090
22100
22110
22120
22130
22140
22150
22160
22170
22180
22190
22200
22210
22220
22230
22240
22250
22260
22270
22280
22290
22300
22310
22320
22330
22340
22350
22360
22370
22380
22390
22400
22410
22420
22430
22440
22450
22460
22470
22480
22490
22500
22510
22520
22530
22540
22550
22560
22570
22580
22590
22600
22610
22620
22630
22640
22650
22660
22670
22680
22690
22700
22710
22720
22730
22740
22750
22760
22770
22780
22790
22800
22810
22820
22830
22840
22850
22860
22870
22880
22890
22900
22910
22920
22930
22940
22950
22960
22970
22980
22990
23000
23010
23020
23030
23040
23050
23060
23070
23080
23090
23100
23110
23120
23130
23140
23150
23160
23170
23180
23190
23200
23210
23220
23230
23240
23250
23260
23270
23280
23290
23300
23310
23320
23330
23340
23350
23360
23370
23380
23390
23400
23410
23420
23430
23440
23450
23460
23470
23480
23490
23500
23510
23520
23530
23540
23550
23560
23570
23580
23590
23600
23610
23620
23630
23640
23650
23660
23670
23680
23690
23700
23710
23720
23730
23740
23750
23760
23770
23780
23790
23800
23810
23820
23830
23840
23850
23860
23870
23880
23890
23900
23910
23920
23930
23940
23950
23960
23970
23980
23990
24000
24010
24020
24030
24040
24050
24060
24070
24080
24090
24100
24110
24120
24130
24140
24150
24160
24170
24180
24190
24200
24210
24220
24230
24240
24250
24260
24270
24280
24290
24300
24310
24320
24330
24340
24350
24360
24370
24380
24390
24400
24410
24420
24430
24440
24450
24460
24470
24480
24490
24500
24510
24520
24530
24540
24550
24560
24570
24580
24590
24600
24610
24620
24630
24640
24650
24660
24670
24680
24690
24700
24710
24720
24730
24740
24750
24760
24770
24780
24790
24800
24810
24820
24830
24840
24850
24860
24870
24880
24890
24900
24910
24920
24930
24940
24950
24960
24970
24980
24990
25000
25010
25020
25030
25040
25050
25060
25070
25080
25090
25100
25110
25120
25130
25140
25150
25160
25170
25180
25190
25200
25210
25220
25230
25240
25250
25260
25270
25280
25290
25300
25310
25320
25330
25340
25350
25360
25370
25380
25390
25400
25410
25420
25430
25440
25450
25460
25470
25480
25490
25500
25510
25520
25530
25540
25550
25560
25570
25580
25590
25600
25610
25620
25630
25640
25650
25660
25670
25680
25690
25700
25710
25720
25730
25740
25750
25760
25770
25780
25790
25800
25810
25820
25830
25840
25850
25860
25870
25880
25890
25900
25910
25920
25930
25940
25950
25960
25970
25980
25990
26000
26010
26020
26030
26040
26050
26060
26070
26080
26090
26100
26110
26120
26130
26140
26150
26160
26170
26180
26190
26200
26210
26220
26230
26240
26250
26260
26270
26280
26290
26300
26310
26320
26330
26340
26350
26360
26370
26380
26390
26400
26410
26420
26430
26440
26450
26460
26470
26480
26490
26500
26510
26520
26530
26540
26550
26560
26570
26580
26590
26600
26610
26620
26630
26640
26650
26660
26670
26680
26690
26700
26710
26720
26730
26740
26750
26760
26770
26780
26790
26800
26810
26820
26830
26840
26850
26860
26870
26880
26890
26900
26910
26920
26930
26940
26950
26960
26970
26980
26990
27000
27010
27020
27030
27040
27050
27060
27070
27080
27090
27100
27110
27120
27130
27140
27150
27160
27170
27180
27190
27200
27210
27220
27230
27240
27250
27260
27270
27280
27290
27300
27310
27320
27330
27340
27350
27360
27370
27380
27390
27400
27410
27420
27430
27440
27450
27460
27470
27480
27490
27500
27510
27520
27530
27540
27550
27560
27570
27580
27590
27600
27610
27620
27630
27640
27650
27660
27670
27680
27690
27700
27710
27720
27730
27740
27750
27760
27770
27780
27790
27800
27810
27820
27830
27840
27850
27860
27870
27880
27890
27900
27910
27920
27930
27940
27950
27960
27970
27980
27990
28000
28010
28020
28030
28040
28050
28060
28070
28080
28090
28100
28110
28120
28130
28140
28150
28160
28170
28180
28190
28200
28210
28220
28230
28240
28250
28260
28270
28280
28290
28300
28310
28320
28330
28340
28350
28360
28370
28380
28390
28400
28410
28420
28430
28440
28450
28460
28470
28480
28490
28500
28510
28520
28530
28540
28550
28560
28570
28580
28590
28600
28610
28620
28630
28640
28650
28660
28670
28680
28690
28700
28710
28720
28730
28740
28750
28760
28770
28780
28790
28800
28810
28820
28830
28840
28850
28860
28870
28880
28890
28900
28910
28920
28930
28940
28950
28960
28970
28980
28990
29000
29010
29020
29030
29040
29050
29060
29070
29080
29090
29100
29110
29120
29130
29140
29150
29160
29170
29180
29190
29200
29210
29220
29230
29240
29250
29260
29270
29280
29290
29300
29310
29320
29330
29340
29350
29360
29370
29380
29390
29400
29410
29420
29430
29440
29450
29460
29470
29480
29490
29500
29510
29520
29530
29540
29550
29560
29570
29580
29590
29600
29610
29620
29630
29640
29650
29660
29670
29680
29690
29700
29710
29720
29730
29740
29750
29760
29770
29780
29790
29800
29810
29820
29830
29840
29850
29860
29870
29880
29890
29900
29910
29920
29930
29940
29950
29960
29970
29980
29990
30000
30010
30020
30030
30040
30050
30060
30070
30080
30090
30100
30110
30120
30130
30140
30150
30160
30170
30180
30190
30200
30210
30220
30230
30240
30250
30260
30270
30280
30290
30300
30310
30320
30330
30340
30350
30360
30370
30380
30390
30400
30410
30420
30430
30440
30450
30460
30470
30480
30490
30500
30510
30520
30530
30540
30550
30560
30570
30580
30590
30600
30610
30620
30630
30640
30650
30660
30670
30680
30690
30700
30710
30720
30730
30740
30750
30760
30770
30780
30790
30800
30810
30820
30830
30840
30850
30860
30870
30880
30890
30900
30910
30920
30930
30940
30950
30960
30970
30980
30990
31000
31010
31020
31030
31040
31050
31060
31070
31080
31090
31100
31110
31120
31130
31140
31150
31160
31170
31180
31190
31200
31210
31220
31230
31240
31250
31260
31270
31280
31290
31300
31310
31320
31330
31340
31350
31360
31370
31380
31390
31400
31410
31420
31430
31440
31450
31460
31470
31480
31490
31500
31510
31520
31530
31540
31550
31560
31570
31580
31590
31600
31610
31620
31630
31640
31650
31660
31670
31680
31690
31700
31710
31720
31730
31740
31750
31760
31770
31780
31790
31800
31810
31820
31830
31840
31850
31860
31870
31880
31890
31900
31910
31920
31930
31940
31950
31960
31970
31980
31990
32000
32010
32020
32030
32040

In [280]:
len(new_found)/i

0.24617737003058104

##### Case Study

In [263]:
# mte_i = 'A2183263527'
# mto_i = 'A2110165986'
i = 52
mte_i = missed_values[i][0]
mto_i = missed_values[i][1]
work_mte_i = list(missed_mentee_authorship['work_id'][missed_mentee_authorship.author_id==mte_i])
len(work_mte_i)

77

In [264]:
auship_mte_i = missed_mentee_authorship[missed_mentee_authorship.work_id.isin(work_mte_i)]

In [265]:
colla_work = list(auship_mte_i['work_id'][auship_mte_i.author_id==mto_i])

In [266]:
auship_mte_i[(auship_mte_i.work_id.isin(colla_work))&(auship_mte_i.author_id==mte_i)]

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,last_pub_year,career_len,current_scitific_age
1741955,W2169667128,first,A2247192133,I63966007,1997,1988,2021,33,9
6377117,W2121988302,first,A2247192133,I63966007,1998,1988,2021,33,10
7257584,W2152726590,first,A2247192133,I63966007,1995,1988,2021,33,7

In [267]:
auship_mte_i[(auship_mte_i.work_id.isin(colla_work))&(auship_mte_i.author_id==mto_i)&(auship_mte_i.author_position=='last')]

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,last_pub_year,career_len,current_scitific_age
1741956,W2169667128,last,A2435751034,I63966007,1997,1986,2022,36,11
7257585,W2152726590,last,A2435751034,I63966007,1995,1986,2022,36,9

In [268]:
work_last_author = list(auship_mte_i['work_id'][(auship_mte_i.work_id.isin(colla_work))&(auship_mte_i.author_id==mto_i)
                                           &(auship_mte_i.author_position=='last')
                                               &(~auship_mte_i.institution_id.isnull())])

In [273]:
can_be_found = auship_mte_i[(auship_mte_i.work_id.isin(work_last_author))&(auship_mte_i.author_id==mte_i)&
            (~auship_mte_i.institution_id.isnull())&(auship_mte_i.current_scitific_age<=10)]

In [274]:
can_be_found

,work_id,author_position,author_id,institution_id,publication_year,first_pub_year,last_pub_year,career_len,current_scitific_age
1741955,W2169667128,first,A2247192133,I63966007,1997,1988,2021,33,9
7257584,W2152726590,first,A2247192133,I63966007,1995,1988,2021,33,7